.timetable {
	width: 100%;
	min-width: 1000px;
	table-layout: fixed;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	padding: 2px;
  	color: rgba(0,0,0,0.8);
}

.timetable thead th {
	padding: 18px;
	font-weight: 400;
}

.timetable tbody th {
	padding: 18px 12px 18px 12px;
	font-weight: 400;
}

.timetable thead th:nth-child(odd) {
	background-color: #edf5ff;
}

.timetable tbody tr:nth-child(even) {
	background-color: #edf5ff;
}

.timetable td {
	transition: all 0.3s;
}

.timetable.settable td.unavailable:hover {
	background-color: #dcdcdc;
	color: white;
}

.unavailable {
	background-color: #f5f5f5;
	color: rgba(0,0,0,0.8);
}

.available {
	background-color: #50a0ff;
	color: white;
}

.matched {
	background-color: #00dc73;
	color: white;
}