.input {
	width: 100%;
	padding: 25px;
	border: none;
	box-sizing: border-box;
	background-color: white;
	color: rgba(0,0,0,0.5);
	font-size: 1.2rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.input:focus {
	outline: 0;
}

.input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.2);
    font-style: italic;
}

.input:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(0,0,0,0.2);
    font-style: italic;
}

.input::-moz-placeholder {
    /* FF 19+ */
    color: rgba(0,0,0,0.2);
    font-style: italic;
}

.input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0,0,0,0.2);
    font-style: italic;
}
