/* simple grid system */
.row {
	width: 100%;
	box-sizing: border-box;
}

.row:after {
	content: "";
    clear: both;
    display: block;
}

.col10 {
	width: 10%;
    float: left;
	box-sizing: border-box;
}

.col80 {
	width: 80%;
    float: left;
	box-sizing: border-box;
}

.container {
	padding: 25px;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.circle {
	width: 23px;
	height: 23px;
	border-radius: 50%;
}

.circle.hollow {
	border: 1px solid rgba(0,0,0,0.1);
}

.circle.solid {
	background-color: #4ce092;
	text-decoration: line-through;
	transition: background-color 0.2s;
}

.text {
	font-size: 1.2rem;
	line-height: 25px;
	white-space: pre-line;
	word-break: break-all;
	vertical-align: middle;
	color: rgba(0,0,0,0.5);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text.linethrough {
	text-decoration: line-through;
	font-style: italic;
	color: rgba(0,0,0,0.2);
	transition: text-decoration 0.4s;
}

.delete {
	display: none;
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 12px;
	color: #fd9eae;
	background: none;
	border: none;
	float: right;
	transition: color 0.2s ease-out;
}

.delete:hover {
	color: #fc6c85;
}

.delete:after {
	content: '×';
}

.container:hover .delete {
	display: block;
}